/* https://angular-material.fusetheme.com/pages/authentication/sign-up/classic */
:root {
    --padding-top: 50px;
    --width-100pct: 100%;
    --card-padding: 15px;
    --card-border-radius: 15px;
}

/** Set top padding to 50px  */
.st-emotion-cache-16txtl3.eczjsme4 {
    padding-top: var(--padding-top);
}

/** Set top padding to 50px  */
.block-container.st-emotion-cache-z5fcl4.ea3mdgi5 {
    padding-top: var(--padding-top);
}

/** Align sidebar image to middle  */
.st-emotion-cache-1v0mbdj.e115fcil1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: var(--width-100pct);
    border: 0 !important;
}

/** Set st.data_editor to 100% of parent container */
.stDataFrame.st-emotion-cache-1ssyx9w.e1w7nams0 {
    width: var(--width-100pct);   
}


/*! CARD STYLES BEGIN HERE  */
/** Card Style  */
.st-emotion-cache-keje6w.e1f1d6gn3, .st-emotion-cache-1r6slb0.e1f1d6gn3, .st-emotion-cache-12w0qpk.e1f1d6gn3, .st-emotion-cache-j5r0tf.e1f1d6gn3 {
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    overflow: hidden;
    min-height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/** Card Hover Animation  */
.st-emotion-cache-12w0qpk.e1f1d6gn3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/** Targets Titles Only in Cards */
.st-emotion-cache-keje6w.e1f1d6gn3 .st-emotion-cache-10trblm.e1nzilvr1, .st-emotion-cache-1r6slb0.e1f1d6gn3 .st-emotion-cache-10trblm.e1nzilvr1, .st-emotion-cache-12w0qpk.e1f1d6gn3 .st-emotion-cache-10trblm.e1nzilvr1, .st-emotion-cache-j5r0tf.e1f1d6gn3 .st-emotion-cache-10trblm.e1nzilvr1 {
    font-size: 1.35rem;
    font-weight: bolder;
}

/** Targets Code Tags Only in Cards  */
.st-emotion-cache-keje6w.e1f1d6gn3 code, .st-emotion-cache-1r6slb0.e1f1d6gn3 code, .st-emotion-cache-12w0qpk.e1f1d6gn3 code, .st-emotion-cache-j5r0tf.e1f1d6gn3 code {
    font-size: 1.15rem;
    font-weight: bold;
    background: none;
}

/** Targets Tab Text  */
.st-emotion-cache-l9bjmx.e1nzilvr5 p {
    font-size: 1.05rem;
    font-weight: bold;
}