known_exploited_vulnerabilities.json
.dccache
.vscode/settings.json
pyvenv.cfg
*.cfg
*.env
*.xlsx
/import/**
/export/**
**/data/**
**/Scripts/**
**/Lib/**
**/Include/**
**/Notes/**
**/nvd_data/**
**/vuldb_data/**

/cve_parse/__pycache__/
